.row
  .large-12.columns
    h1 JeeBoot

    .row
      .large-4.columns
        h3 Firmware
        table
          tr
            th SwID
            th File
          tr(ng-repeat='(swid,row) in firmware')
            td {{ swid }}
            td {{ row.file }}
            td: a(ng-click='fwDel(swid)') x

        p.drop-box(on-file-drop='onFileDrop($files)') To upload, drop file here

      .large-8.columns
        h3 Hardware ID's
        table
          tr
            th HwID
            th Board
            th Group
            th Node
            th SwID
          tr(ng-repeat='(hwid,row) in hwid')
            td {{ hwid }}
            td {{ row.board }}
            // TODO there has to be a cleaner way to forward these changes!
            td(contentEditable='true',on-blur='hwSave(hwid,"group",$value)')
              | {{ row.group }}
            td(contentEditable='true',on-blur='hwSave(hwid,"node",$value)')
              | {{ row.node }}
            td(contentEditable='true',on-blur='hwSave(hwid,"swid",$value)')
              | {{ row.swid }}

style(type='text/css').
  div[contentEditable] {
    cursor: pointer;
    background-color: #D0D0D0;
  }
